<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-lg-12">
          <div class="card card-chart">
            <div class="card-header card-header-success">
              <div class="ct-chart" id="dailySalesChart"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Grafico 13</h4>
            </div>
            <div class="card-footer">
              
            </div>  
          </div>
        </div>
        <div class="col-xl-6 col-lg-12">
          <div class="card card-chart">
            <div class="card-header card-header-warning">
              <div class="ct-chart" id="websiteViewsChart"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Grafico 14</h4>
            </div>
            
          </div>
        </div>
        <div class="col-xl-6 col-lg-12">
          <div class="card card-chart">
            <div class="card-header card-header-danger">
              <div class="ct-chart" id="completedTasksChart"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Grafico 15</h4>
            </div>
            
          </div>
        </div>

        <div class="col-xl-6 col-lg-12">
            <div class="card card-chart">
              <div class="card-header card-header-warning">
                <div class="ct-chart" id="websiteViewsChart"></div>
              </div>
              <div class="card-body">
                <h4 class="card-title">Grafico 16</h4>
              </div>
              
            </div>
          </div>
      </div>
      
    </div>
</div>